name: Download RBA Graphs

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
defaults:
  run:
    shell: bash
jobs:
  download:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Dependencies
        run: pip install requests

      - name: Download files
        run: python scr/getRBAGraphs.py

      - name: Upload downloads
        uses: actions/upload-artifact@v5.0.0
        with:
          name: Images
          path: downloaded_files/
